{% extends "login.html" %}
{% load i18n %}

{% block title %}
    {% trans "Logowanie" %}
{% endblock %}

{% block panel %}
    <div class="login-form">
        <div class="social">
            <a href="{% url "social:begin" "google-oauth2" %}">
                <li class="google">
                    {% trans "Zaloguj się za pomocą konta Google" %}
                </li>
            </a>
            <a href="{% url "loginwithoutgoogle" %}">
                <li class="withoutgoogle">
                    {% trans "Zaloguj bez używania konta Google" %}
                </li>
            </a>
        </div>
    </div>
{% endblock %}