{% extends "login.html" %}

{% block title %}
    Logowanie
{% endblock %}

{% block panel %}
    {% if form.errors %}
        <p>
            Nazwa użytkownika lub hasło są niepoprawne.
            Spróbuj ponownie.
        </p>
    {% endif %}
    <div class="login-form" >
        <h1>Logowanie</h1>
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
            <p><input type="submit" value="Zaloguj"></p>
        </form>
    </div>
{% endblock %}