{% extends "login.html" %}
{% load i18n %}

{% block title %}
    {% trans "Logowanie" %}
{% endblock %}

{% block panel %}
    {% if form.errors %}
        <p>
            {% trans "Nazwa użytkownika lub hasło są niepoprawne" %}.
            {% trans "Spróbuj ponownie" %}.
        </p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'loginwithoutgoogle' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="{% trans "Zaloguj" %}"></p>
        </form>
        <p class="forget-password"><a href="{% url "password_reset" %}">{% trans "Zapomniałeś hasła" %}?</a></p>
    </div>
{% endblock %}