{% extends "login.html" %}
{% load i18n %}

{% block title %}
    {% trans "Zerowanie hasła" %}
{% endblock %}

{% block panel %}
    <h1>{% trans "Zerowanie hasła" %}</h1>
    {% if validlink %}
        <p>{% trans "Dwukrotnie podaj nowe hasło" %}.</p>
        <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="{% trans "Zmień hasło" %}!" /></p>
        </form>
    {% else %}
        <p>{% trans "Upłynął czas przeznaczony na wyzerowanie hasła lub" %} {% trans "link został już wykorzystany" %}.</p>
        <p>{% trans "Ponownie przystąp do procedury zmiany zapomnianego hasła" %}.</p>
    {% endif %}
{% endblock %}